<h1>Редактирование товара</h1>
<form action="/items" method="POST">
	<input type="text" name="title">
	<input type="submit">
	<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
</form>